@model IEnumerable<iqraProject.DTOs.QuestionDto>



@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -All Questions</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="card-header" style="background-color: gold;">
    <div class="card-title">
        <h1 class="text-center" style="color: white;">Questions</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TextTest)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AudioTest)
            </th>


            <th>
                Update
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => question.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => question.TextTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => question.AudioTest)
            </td>
           

            <td>
                <a asp-action="Update" asp-route-id="@question.Id">Update</a>
            </td>
            
        </tr>
        }
    </tbody>
</table>
<button style="background-color:wheat;"><a asp-controller="Question" asp-action="CreateForTeacher">Create Question</a> </button>
<button style="background-color:wheat;"><a asp-controller="Teacher" asp-action="Profile">Back to Profile</a> </button>

