@model iqraProject.DTOs.LessonDto

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/style.css">
    
</head>


<body style="background-image: url('/MyImages/quran.jpg'); background-size:cover; background-repeat:no-repeat; background-color: white;">
    <div class="container">

        <div id="instruction">
            @Model.Description
        </div>

        @foreach (var item in Model.Words)
        {
            <div class="symbol-container">
                <div class="symbol">@item.Symbol</div>
                <div class="name">@item.WordName</div>
                <div class="sound">
                    @* @item.Sound
                     <audio controls loop>
                    <source src="@item.Sound" type="audio/mp3">
                    Your browser does not support the audio element.
                    </audio>  *@
                   <button style="background-color:wheat;"><a asp-controller="Lesson" asp-action="ConvertToSound" asp-route-symbol="@item.Symbol">Play</a> </button>
                </div>

            </div>
        }

    </div>

    <div>
        @{var num = 1;}
        @foreach (var item in Model.Assessments)
        {
            
            <button style="background-color: green;"><a style="text-decoration: none; color:white" asp-action="Details" asp-controller="Assessment" asp-route-id="@item.Id">Assessment</a>
        </button>
            
        num++;
        }
        
    
    </div>

    
    <div class="lower">
        <button style="background-color: green;"><a style="text-decoration: none; color:white" asp-action="Profile" asp-controller="Student">Back to Profile</a></button>
    </div>

</body>

</html>